* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
  font-size: 10px;
  background: #fff;
}

body {
  height: 100%;
  font-family: "Roboto Condensed", sans-serif;
}

p {
  margin: 0;
}

img {
  margin: 0;
  max-width: inherit;
}

.text-dark {
  color: #333 !important;
}

.border-dark {
  border-color: #333 !important;
}

.mr-10 {
  margin-right: 10px !important;
}

.pt-20 {
  padding-top: 20px !important;
}

.pt-0 {
  padding-top: 0px !important;
}

.ma-0 {
  margin: 0 !important;
}

.mb-10 {
  margin-bottom: 10px !important;
}

.mr-20 {
  margin-right: 20px;
}

.mb-50 {
  margin-bottom: 50px !important;
}

@media screen and (min-width: 1080px) {
  .d-mr-0 {
    margin-right: 0 !important;
  }
}

@media screen and (min-width: 1080px) {
  .d-ml-0 {
    margin-left: 0 !important;
  }
}

@media screen and (min-width: 1080px) {
  .d-mt-s50 {
    margin-top: -50px !important;
  }
}

.m-mr-20 {
  margin-right: 20px;
}

@media screen and (min-width: 850px) {
  .m-mr-20 {
    margin-right: 0;
  }
}

.btn {
  display: inline-block;
  width: 100%;
  background: #fff;
  padding: 12px;
  border: 2px solid #fff;
  border-radius: 5px;
  color: #333;
  font-weight: 700;
  font-size: 16px;
  cursor: pointer;
  text-decoration: none;
  font-family: "Roboto Condensed", sans-serif;
  text-align: center;
  max-width: 345px;
  text-transform: uppercase;
  margin: 10px;
  transition: all 0.3s;
}

.btn--alt {
  background: #007bff;
  border-color: #007bff;
  color: #fff;
}

@media screen and (min-width: 850px) {
  .btn {
    max-width: 200px;
  }
}

@media screen and (min-width: 850px) {
  .ml-0 {
    margin-left: 0;
  }
}

.plr-25 {
  padding-left: 25px !important;
  padding-right: 25px !important;
}

.plr-15 {
  padding-left: 15px !important;
  padding-right: 15px !important;
}

@media screen and (min-width: 850px) {
  .mb-auto {
    margin-bottom: auto !important;
  }
}

.center-to-left {
  text-align: center !important;
  align-items: center !important;
}

@media screen and (min-width: 850px) {
  .center-to-left {
    text-align: left !important;
    align-items: flex-start !important;
  }
}

.center-to-left-1080 {
  text-align: center;
  align-items: center;
}

@media screen and (min-width: 1080px) {
  .center-to-left-1080 {
    text-align: left;
    align-items: flex-start;
  }
}

.top-left-triangle {
  background: linear-gradient(to bottom right, #007bff 50%, transparent 50%) 0 0/30px
      30px,
    #fff !important;
  background-repeat: no-repeat !important;
}

.top-right-triangle {
  background: linear-gradient(to bottom left, #007bff 50%, transparent 50%) 100%
      0/30px 30px,
    #fff !important;

  background-repeat: no-repeat !important;
}

.bottom-left-triangle {
  background: linear-gradient(to top right, #007bff 50%, transparent 40%) 0%
      151px/30px 30px,
    #fff !important;

  background-repeat: no-repeat !important;
}

.bottom-right-triangle {
  background: linear-gradient(to top left, #007bff 50%, transparent 40%) 100%
      151px/30px 30px,
    #fff !important;

  background-repeat: no-repeat !important;
}

@media screen and (min-width: 850px) {
  .special-align {
    position: absolute !important;
    top: 165px;
    right: 0;
  }
}

.f-vertical {
  flex-direction: column !important;
}

.text-center {
  text-align: center !important;
}

.center {
  display: flex !important;
  justify-content: center !important;
}

.border-specific-tr {
  border-top-right-radius: 5px !important;
}

.border-specific-tl {
  border-top-left-radius: 5px !important;
}

.border-specific-bl {
  border-bottom-left-radius: 5px !important;
}

.border-specific-br {
  border-bottom-right-radius: 5px !important;
}

.align-base {
  align-items: baseline !important;
}

.fas.fa-quote-left,
.fas.fa-quote-right {
  font-size: 20px !important;
}

@media screen and (min-width: 850px) {
  .w-50 {
    width: 50% !important;
  }
}

.mw-400 {
  max-width: 400px;
}
